.Signup_container {
    /*background-color: #08015e;*/
    width: 30%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.195);
        
}

.Signup_container .login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.Signup_container Button{
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    
}

.text-muted{
    margin-right: 2%;
}
